name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install and run tests
        run: yarn install
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}
          TOKEN: ${{ secrets.TOKEN }}
